.Select {
  width: fit-content;
}

.newFormMainPageButtonBar {
  position: fixed;
  bottom: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.newFormMainPageButton {
  margin-left: 20;
}

.newFormMainPageAddButton {
  background-color: #35e1b8;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}

.newFormMainPageSaveButton {
  background-color: #e84646;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}

.newFormMainPageH1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 5%;
}

.newFormMainPageInput {
  width: 90%;
  border: 2px solid #35e1b8;
  padding: 8px 16px;
  border-radius: 12px;
  margin-left: 5%;
  margin-right: 5%;
}
