.listOfForms {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10%;
  }
  .listOfFormsCard {
    background-color: #35e1b8;
    padding: 20px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    width: min-content;
    float: left;
    color: white;
  }
  .listOfFormsCard:focus {
    outline: none;
  }
  
  .rowElements{
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .rowElements #btn{
    width: fit-content;
  }
