.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.select {
  width: 90%;
}

.formsTitle {
    margin-top: 10%;
    margin-bottom: 10%;
}

.editStack {
  margin: 5%;
}

.editStack h1{
  margin-bottom: 10%;
}

.elementStyle{
  margin: 3%;
}