.listOfElements {
  display: flex;
  flex-wrap: wrap;
  background-color: green;
}
.listOfElementsCard {
  background-color: #35e1b8;
  padding: 20px 20px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  width: min-content;
  float: left;
  color: white;
}
